{% extends "base.html" %}

{% block title%}Авторизация{% endblock %}

{% block link%}<link rel="stylesheet" href="../static/form.css">{% endblock %}

{% block body %}
    {% if not request.user.is_authenticated %}
    <form id="login" method="POST">
        {% csrf_token %}
        <div class="form-main">
            {% for item in form %}
                <div class="form-div"><label class="form-label" for="{{ item.id_for_label }}">{{ item.label }}: </label>{{ item }}</div>
                <div class="form-error">{{item.errors}}</div>
            {% endfor %}
        </div>
        <div class="form-end"></div>

        <button form="login" type="submit">Войти</button>
    </form>
    {% else %}
    <h2>Вы уже авторизованы</h2>
    {% endif %}
{% endblock %}
